@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "NewInside", FormMethod.Get))
{

    <button class="btn green" type="submit">Sign In</button>


}
@*@Html.ActionLink("Sign In", "Index", "NewInside")*@
